@import "lib/bootstrap.less";

@import "reset.less";
@import "datagrid.less";
@import "header.less";
@import "menu.less";
/*@import "sidebar.less";*/
@import "form.less";
@import "buttons.less";
@import "tree.less";

@sidebarWidth : 200px;
/** reset **/

body{
   font: 13px/22px 'Helvetica Neue',Helvetica,Arial,Sans-serif;
}

/** layout **/
.main {
  display: box;
  box-orient: horizonal;
  display: -moz-box;
  -moz-box-orient: horizonal;
  display: -webkit-box;
  -webkit-box-orient: horizonal;
  width: 100%;
}
.content {
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
}
/** header **/
.header {
  background-color: #264175;
  background-repeat: repeat-x;
  #gradient > .vertical(#6381b8, #264175);
  /*background-image: -khtml-gradient(linear, left top, left bottom, from(#6381b8), to(#264175));*/
  /*background-image: -moz-linear-gradient(top, #6381b8, #264175);*/
  /*background-image: -ms-linear-gradient(top, #6381b8, #264175);*/
  /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6381b8), color-stop(100%, #264175));*/
  /*background-image: -webkit-linear-gradient(top, #6381b8, #264175);*/
  /*background-image: -o-linear-gradient(top, #6381b8, #264175);*/
  /*background-image: linear-gradient(top, #6381b8, #264175);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6381b8', endColorstr='#264175', GradientType=0);*/
  .box-shadow2(0 1px 0 #809dd4 inset, 0 -1px 0 #000000 inset);
  height: 40px;
}

/** content **/
.content {
  color: #444444;
}

