.header{
  overflow: hidden;
  position: relative;

 .logo {
    padding: 8px 20px 12px;
    color: @white;
    font-size: 20px;
    font-weight: 200;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }

 .welcome{
    position: absolute;
    right: 8px;
    top: 8px;

    color: #CAF390;
    font-weight: bold;

    font-size: 12px;
    background:url(images/dashboard_account.png) no-repeat 0 -2px;
    padding-left: 26px;

    a{
        color: #E4E4E4;
        text-decoration: none;

        &:hover{
            color: #FFF;
            text-shadow: 0 1px 0 rgba(112,112,112,0.5);
            /*text-decoration: underline;*/
        }
    }

 }

  .nav{
    margin-left: @sidebarWidth - 25px;
    float: left;
    position: relative;
    bottom: -18px;

      /*background: -moz-linear-gradient(center bottom , #262829 0%, #2F3031 100%) repeat scroll 0 0 transparent;*/
      /*background: -webkit-linear-gradient(center bottom , #262829 0%, #2F3031 100%) repeat scroll 0 0 transparent;*/
      border-bottom: 1px solid white;
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
      color: #F5F5F5;
      font-family: Arial;
      font-size: 12px;
      height: 25px;
      /*margin-top: -32px;*/
      overflow: visible;
      padding: 5px 45px 0 21px;
      white-space: nowrap;
      width: auto;
      z-index: 100;
    


li{
  color: #D9D9D9;
  text-shadow: none;
  border-bottom: 1px solid white;
  height: 25px;
  margin-top: 0;
  position: relative;
  margin-right: -22px;

  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
  display: inline-block;
  vertical-align: bottom;

    span.close{
        background-image: url(images/close_tab_btn.png);
        background-repeat: no-repeat;
        background-position: 0 -14px;
        display: block;
        height: 14px;
        width: 14px;
        overflow: hidden;

        position: absolute;
        right: 20px;
        top: 0;

        &:hover{
            background-position: -14px -14px;
        }
    }

    &:hover{
            a{
              background-position: 0 -182px;

              &::before{
                background-position: 0 -156px;
              }
              &::after{
                background-position: 0 -208px;
              }
            }
    }



  a{
  background-image: url("images/editor_tab.png");
  background-position: 0 -104px;
  height: 20px;
  overflow: hidden;
  padding: 5px 40px 5px 40px;
  position: relative;

  color: #D9D9D9;
  text-shadow: none;
  text-decoration: none;
  outline: none;


  &::before, &::after{
      content: "";
      display: block;
  background-image: url("images/editor_tab.png");
  background-repeat: no-repeat;
  height: 25px;
  position: absolute;
  top: 0;
  width: 20px;
  }
&::before{
     background-position: 0 -78px;
      left: -20px;
}
  &::after{
  background-position: 0 -130px;
  right: -20px;
  }


  }

  &.selected{
    border-bottom: 1px solid #E8E8E8;
    color: #333333;
    cursor: default;
    height: 25px;
    text-shadow: 0 1px 0 #FFFFFF;
    z-index: 10;

    span.close{
        background-position: 0 0;
        top: -2px;

        &:hover{
         background-position: -14px 0;
        }
        }



    a{
        background-position: 0 -26px;
        color: #000000;
        height: 19px;
        padding: 6px 40px 5px 40px;

        &::before{
                background-position: 0 0;
            }

            &::after{
                background-position: 0 -52px;
            }
    }


  }
}

        }


  }