/** sidebar **/
.sidebar {
  height: 600px;
  width: @sidebarWidth;
  background-color: #DFE6EE;
  border-right: 1px solid #B4BBC4;
  font-family: '宋体';

  h3{
      /*#gradient > .vertical(#EDF3FA, #D0D9E4);*/
      #gradient > .vertical(#E3E9F0, #C6CFDA);
        border-bottom: 1px solid #B4BBC4;
        border-top: 1px solid #FFFFFF;
        color: #747D84;
        font-size: 14px;
        font-weight: bold;
        /*height: 20px;*/
        /*line-height: 19px;*/
        height: 32px;
        line-height: 32px;
        margin: 0 1px 0 0;
        text-align: left;
        text-indent: 10px;
        text-shadow: 0 1px 0 #FFFFFF;


        .toggle{
          background-image: url(images/open_close.png);
          background-repeat: no-repeat;
          display: inline-block;
          width: 9px;
          height: 10px;
          padding: 0;
          margin: 0;
          margin-right: 4px;
          position:relative;
          top: 2px;
        }
        &.open .toggle{
            background-position: 0 0;
        }
        &.close .toggle{
              background-position: 0 -10px;
          }

        &.close+ul{
          display: none;
        }
  }


  li{
    position: relative;

    a{
        .box-shadow2(0 1px 0 #EEF6FF inset, 0 -1px 0 #D3D9E1 inset);
        cursor: pointer;
        display: block;
        /*height: 30px;*/
        /*line-height: 30px;*/
        height: 34px;
        line-height: 34px;
        margin: 0 1px 0 0;
        padding: 0 8px 0 12px;

        color: #000;
        text-decoration: none;
        font-size: 14px;
    }

    &.active a{
                background-color: #748DBB;
                #gradient > .vertical(#ADBDD7, #748DBB);
                .box-shadow3(0 1px 0 #899CC0 inset, 0 2px 0 #B4C6E4 inset, 0 -1px 0 #6C7B98 inset);
                cursor: default;
                height: 31px;
                line-height: 31px;
                margin: -1px 0 0;

                color: #FFFFFF;
                font-weight: bold;
                text-shadow: 0 1px 1px #474E59;
            }
  }
}
